[Postgres]
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

[Mongo]
MONGODB_HOST=
MONGODB_PORT=
MONGO_DB_NAME=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_AUTH_SOURCE=

[RabbitMQ]
Host=
Port=
Queue=
User=
Password=
Vhost=